<div class="col-md-4 col-sm-12 trending"   style=" background-color:rgba(221, 219, 217, 0.856);max-height:40vh;padding-top:8px;">
    <div class="row p-2">
    <h4 class="fs-6 ml-2 mb-3">Trending Tags</h4>
    <div style="margin-left:4px;padding:4px;">
   <% for(tt of trendingTags) { %>
    <a href="/search?q=<%=tt.tag%>"><p  class="badge rounded-pill bg-secondary" style="font-size:0.8rem" ><%= tt.tag %></p></a>
    <% }%>
  </div>
  </div>
  <hr class="my-4 mt-2 ">
  <div class="row">
    <h4 class="fs-6 ml-2 mb-3">Trending Writers</h4>
      <div style="margin-left:4px;padding:4px;">
     <% for(tt of trendingWriters) { %>
        <a href="/publicProfile/<%= tt._id %>"><p  class="badge rounded-pill bg-secondary" style="font-size:0.8rem"><%= tt.username %></p>
      <% }%>
    </div>
  </div>
    </div>
   