<%- include("partials/header")%>

<%- include("partials/navbar")%>
<link rel="stylesheet" href="/css/index.css" >
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-12">
<div class="content"  style="margin-top: 5rem;">
<div class="typewriter">
    <h2>Share your experiences , thoughts and Knowledge with others</h2>
    <h1>BlogApp - Where india Blog </h1>
  </div>

  <div class="css-typing">
    <p>
      I like to share my experiences
    </p>
    <p>
      I blog daily at BlogApp
    </p>
    <p>
     It has a nice UI
    </p>
  </div>
  <div class="box">
    <a href="/blogs" class="btn btn-warning shadow mb-3">ViewBlogs</a>
    <a href="/blogs/new" class="btn btn-warning shadow mb-3">WriteBlog</a>
  </div>
  </div>
  </div>
  <div class=" mainPic ">
    <img id="mainImg" src="/img/typing2.jpg" class="rounded float-left" style="margin-top:20vh;height:55vh;width:35vw" alt="...">
  </div>
  </div>
  

</div>

<%- include("partials/footer")%>


